:root {
  --white: #fff;
  --blue: #06f;
  --black: #151515;
  --grey: #e8e8e8;

  --font-family: "Inter", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.section-title {
  margin-bottom: 50px;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
}

.header {
  background-color: var(--black);
}

.header-main {
  background-color: transparent;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
}

.header__inner {
  padding-top: 40px;
  padding-bottom: 45px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menu__list {
  display: flex;
  gap: 35px;
}

.menu__link {
  color: var(--white);
  text-transform: uppercase;
  font-weight: 700;
}

.footer {
  background-color: var(--black);
  padding: 50px 0 32px;
  color: var(--white);
}

.footer__menu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.footer__menu-list {
  max-width: 250px;
}

.footer__menu-titel {
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 20px;
}

.footer__menu-item + .footer__menu-item {
  padding-top: 20px;
}

.app {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 52px;
}

.footer__copy {
  max-width: 800px;
  margin: 0 auto 30px;
  text-align: center;
}

.copy__nav-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.main {
  flex-grow: 1;
}

.top {
  padding-top: 250px;
  padding-bottom: 50px;
  text-align: center;
  color: var(--white);

  position: absolute;
  left: 0;
  right: 0;
  z-index: 5;
}

.title {
  color: var(--white);
  padding-bottom: 40px;
  font-weight: 700;
  font-size: 96px;
}

.top__link {
  display: inline-block;
  background-color: var(--black);
  padding: 23px;
  max-width: 430px;
  width: 100%;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
}

.swiper::after {
  content: "";
  background-color: rgba(21, 21, 21, 0.3);
  position: absolute;
  z-index: 5;
  inset: 0;
}

.swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.swiper-pagination-bullet {
  width: 120px;
  height: 3px;
  background-color: var(--black);
  border-radius: 0;
  opacity: 1;
  margin: 0 15px !important;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 50px;
}

.swiper-pagination-bullet-active {
  height: 6px;
  background-color: var(--white);
}

.why-lease {
  padding: 150px 0;
}

.why-lease__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  text-align: center;
}

.why-lease__item-img {
  margin-bottom: 30px;
}

.why-lease__item-titel {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
}

.why-lease__item-text {
  text-align: left;
}

.how-does {
  padding-bottom: 159px;
}

.how-does__inner {
  max-width: 600px;
  margin: 0 auto;
}

.how-does-subtitel {
  font-size: 24px;
  font-weight: 700;
  padding-top: 50px;
}

.how-doest__list {
  padding: 50px 0 70px;
  counter-reset: myCount;
}

.how-does__item {
  width: 270px;
  position: relative;
  margin-left: auto;
  padding-left: 240px;
  box-sizing: content-box;
  padding: 19px 0 19px 240px;
  min-height: 63px;
}
.how-does__item + .how-does__item {
  margin-top: 40px;
}
.how-does__item::before {
  position: absolute;
  left: 0;
  top: 0;
  counter-increment: myCount;
  content: counter(myCount);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: 700;
  background-color: var(--blue);
  color: var(--white);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.video-play {
  padding-bottom: 150px;
}

.video-play__titel {
  margin-bottom: 20px;
}

.video-play__text {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
}

.video-play__content {
  margin: 0 auto;
  display: block;
}

.important {
  padding-bottom: 150px;
}

.important-titel {
  margin-bottom: 20px;
}

.important__text {
  max-width: 580px;
  margin: 0 auto 50px;
}

.important__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.important__img {
  margin-bottom: 20px;
}

.contacts {
  padding: 100px 0 150px;
}

.contacts__title {
  margin-bottom: 20px;
}

.contacts__text {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 50px;
  padding: 0 100px;
}

.form {
  max-width: 580px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form__input {
  width: 270px;
  padding: 18px 20px;
  display: inline-block;
  border: 1px solid var(--blue);
  margin-bottom: 50px;

  font-family: var(--font-family);
  font-style: 16px;
  font-weight: 400;
  line-height: 1.3;
  color:var(--black);
}

.form__input::placeholder,
.form__textarea::placeholder {
  font-family: var(--font-family);
  font-style: 16px;
  font-weight: 400;
  line-height: 1.3;
  color:var(--black);
  opacity: .5;
}

.form__textarea {
  width: 100%;
  resize: none;
  padding: 28px 20px;
  height: 290px;
  border: 1px solid var(--blue);
  font-family: var(--font-family);
  font-style: 16px;
  font-weight: 400;
  line-height: 1.3;
  color:var(--black);
  margin-bottom: 50px;
}

.form__btn {
  text-transform: uppercase;
  color:var(--white);
  background-color: var(--black);
  font-family: var(--font-family);
  font-style: 16px;
  font-weight: 400;
  line-height: 1.3;
  padding: 13px 61px;
  margin: 0 auto;
}



